!!! 5
%html
  %head
    %title= @title or "Untitled"
    %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css'}
  %body
    %header
      %h1
        %a{:href => "/"}Michael's Blog
      %h2 I write stuff that I think
    #sidebar
      %ul
        %li Stuff
        %li More Stuff
    #content
      = yield
    #footer<
      &copy; 2010 Michael Abed

