!!! 5
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css'}
  %body
    %header
      %h1 BLOG TITLE
      %h2 BLOG SUBTITLE
    #sidebar
      %ul
        %li Stuff
        %li More Stuff
    #content
      = yield
    #footer<
      &copy; 2010 Michael Abed

