/* @override http://localhost:4567/style.css */

html {
  height: 100%;
  margin-bottom: 1px;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
	font-family:  Helvetica, Arial, Geneva, sans-serif;
}

body > header {
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
  font-family: Optima
}

body > header h1 {
  margin: 0;
  font-size: 21pt;
  font-weight: bold;
} 

body > header a {
  text-decoration: none;
}

body > header h2 {
  font-size: 13pt;
  font-weight: bold;
  margin: 0;
}
#sidebar {
  float: right;
  width: 25%;
}

#sidebar ul {
  margin-top: 8em;
}

#sidebar li {
  list-style-type: none;
  font-style: italic;
}

#content {
  margin-top: 4em;
  margin-left: 5%;
  width: 60%;
}

#footer {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  font-size: 8pt;
}

article {
  margin-top: 1em;
  margin-bottom: 4em;
}

article header {
    
}

article header h1 {
	margin: 0;
  font-size: 22pt;
  font-weight: bold;
  font-family: Optima
}

article header h2 {
	margin: 0;
  font-size: 12pt;
  font-weight: normal;
  font-style: italic;
}

article header a {
  text-decoration: none;
}

article .markdown {
  margin-left: 1.5em;
}

.timestamps {
  font-size: 10pt;
}
